<!DOCTYPE html>
<html layout:decorate="~{layouts/base}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title>模板标题-用户列表</title>
</head>
<body>

<div layout:fragment="content" style='border:solid 1px red;'>
    <table border="1">
        <th:block th:each="user : ${users}">
        <tr>
            <td th:text="${user.name}"></td>
            <td th:text="${user.pwd}"></td>
        </tr>
        </th:block>
    </table>

    <h3>Expression inlining: unescape [ ( - [(${msg})]</h3>
    <h3>Expression inlining: escape [ [ - [[${msg}]]</h3>

    <h3>测试调用Spring Bean方法,使用SpringEL's syntax: ${@fooService.doFoo()}  [[${@fooService.doFoo()}]] </h3>
</div>
<th:block layout:fragment="foot-res">
    <script th:inline="javascript">
        var rawMsg = [[${msg}]];
        var msg = /*[[${msg}]]*/ "这些信息会被省略!";
        var users = /*[[${users}]]*/ null;
        $(function(){
            $.each(users,function(_,e){
                console.log(e);
            });
            alert(msg);
        });
    </script>
</th:block>
</body>
</html>