<!DOCTYPE html>
<html layout:decorate="~{layouts/base}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title>使用模板的子页标题</title>
</head>
<body>

<th:block layout:fragment="head-res">
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.css">
</th:block>

<!-- /* Content of this page will be decorated by the elements of layout.html (task/layout) */ -->
<div layout:fragment="content" style='border:solid 1px red;'>
    <h4>这里是subpage内容</h4>
    <h4 th:text="#{home.welcome}">hi</h4>
    <h4 th:text="#{const.name}">t</h4>
</div>

<th:block layout:fragment="foot-res">
<script src="http://apps.bdimg.com/libs/underscore.js/1.7.0/underscore-min.js"></script>
<script>
    $(function(){
        alert("Thymeleaf layout decorate PERFECT!");
    });
</script>
</th:block>

</body>
</html>