<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>WebSocket Demo</title>
	<script src="/js/jquery-1.11.3.min.js"></script>
	<!-- 
	<script type="text/javascript" src="//cdn.jsdelivr.net/sockjs/1.0.3/sockjs.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	 -->
	<script type="text/javascript" src="/js/sockjs.min.js"></script>
	<script type="text/javascript" src="/js/stomp.min.js"></script>
	<style>
		div{border:1px solid red;}
	</style>
</head>
<body>
	<div>
        服务器接收消息测试:
		<input id="txtPathVar" type="text" placeholder="路径值" >
		<input id="btnSendApp" type="button" value="测试发送消息到服务器/app">
	</div>
	<div>
        服务器接收消息测试打印整个消息:
		<input id="txtMsgBody" type="text" placeholder="BODY值" >
		<input id="btnSendSpecific" type="button" value="测试发送消息到服务器/app">
	</div>

    <div>
        发送到特定用户
        <input id="txtUserId" type="text" placeholder="用户ID" >
        <input id="txtBody" type="text" placeholder="消息内容" >
        <input id="btnSendUser" type="button" value="发送到特定用户/user/{id}/msg">
    </div>
    <div>
        广播所有用户
        <input id="txtBroadBody" type="text" placeholder="消息内容" >
        <input id="btnBroadUser" type="button" value="广播所有用户/topic">
    </div>

	<div>
		<h3>Messages:</h3>
		<ol id="messages"></ol>
	</div>
	<script th:inline="javascript">
		var gsc = null;		//Global Stomp Client
		/* var ctxPath = '/j' */
		var ctxPath = '';
		var userId = [[${userChanel}]];
		$(document).ready(function() {
			var messageList = $("#messages");
			var socket = new SockJS(ctxPath+'/stomp');
			var stompClient = Stomp.over(socket);
			stompClient.connect({}, function(frame) {
				gsc = stompClient;

				stompClient.subscribe("/topic" , function(data) {
					var message = data.body;
					messageList.append("<li>topic: " + message + "</li>");
				});

				stompClient.subscribe("/user/" + userId + '/msg', function(data) {
					var message = data.body;
					messageList.append("<li>user: " + message + "</li>");
				});

			});

			$("#btnSendApp").click(function(){
				if(gsc) {
					var pathVal = $("#txtPathVar").val();
					// send(目的地址, headers[js对象], body[字符串])
					gsc.send('/app/ws.bar.'+pathVal, {priority: 9}, 'Hello, STOMP Server!');
				}
			});

			$("#btnSendSpecific").click(function(){
				if(gsc) {
					var body = $("#txtMsgBody").val();
					// send(目的地址, headers[js对象], body[字符串])
					gsc.send('/app/ws.logbody', {priority: 9}, body);
				}
			});

			$("#btnSendUser").click(function(){
				if(gsc) {
				    var userId = $("#txtUserId").val();
					var body = $("#txtBody").val();
					// send(目的地址, headers[js对象], body[字符串])
					gsc.send('/app/ws.user', {userId: userId , priority: 9}, body);
				}
			});

			$("#btnBroadUser").click(function(){
				if(gsc) {
					var body = $("#txtBroadBody").val();
					// send(目的地址, headers[js对象], body[字符串])
					gsc.send('/app/ws.topic', {priority: 9}, body);
				}
			});

		});
	</script>
</body>
</html>
